<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182906111218-5n4l0ustg564dup2a74p6kklg821q6h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182906111218-5n4l0ustg564dup2a74p6kklg821q6h0</string>
	<key>API_KEY</key>
	<string>AIzaSyAPim2ezuIqCfwLYfh80v9uVVIG_gXmiCk</string>
	<key>GCM_SENDER_ID</key>
	<string>182906111218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akashDesai.GroceryTime</string>
	<key>PROJECT_ID</key>
	<string>groceryti</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182906111218:ios:dc5acb515b06c2ae88fc6b</string>
</dict>
</plist>